<div class = "jumbotron">
<h3 class= "text-center"> Welcome to Heroes!</h3>
</div>


<form class="form-group" action="/squad" method="post">
  <label class="form-control" for="name">Hero's Name:</label>
  <input class="form-control" id="name" name="name" type="text">
  <label class="form-control" for="age">Hero's age:</label>
  <input class="form-control" id="age" name="age" type="number">


</form>