<!DOCTYPE html>
<html>
  <head>
    <title>Heroes and Squads</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="shortcut icon" href="https://cdn2-www.superherohype.com/assets/uploads/2013/11/JLSH.jpg">
  </head>
  <body>
    <div class = "jumbotron">
      <h1 class= "text-center"> Welcome to Heroes!</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           #parse( $template )
        </div>
      </div>
    </div>
  </body>
</html>
