<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center"> Success! </h1>
    <p>You have successfully created a Squad!</p>
  </div>
  
  <div class="card-footer">
    <a href="/squads" class="btn btn-warning"> View squads </a>
    <a href="/squads/new" class="btn btn-success"> Create Squad </a>
  </div>
  

</div>